name: Security audit

on:
  schedule:
    - cron: '0 0 * * 0'
  pull_request:
    paths:
      - 'Cargo.toml'
      - 'Cargo.lock'

jobs:
  security_audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install cargo audit
        run: cargo install cargo-audit --locked
      - name: Scan for vulnerabilities
        run: cargo audit